{% extends 'core/base.html' %}
{% load static %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<section class="bg-light py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h2 class="display-4">Acerca de:</h2>
        <p class="lead">Hola, soy Fabio Lowisky, de Tucumán, Argentina.</p>
        <p class="lead">Nací en 1996 y soy un apasionado de la computadora desde muy chico.</p>
        <p class="lead">Mi contacto es: <a href="mailto:fabiolowisky@gmail.com">fabiolowisky@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}