{% extends 'core/base.html' %}
{% load static %}

{% block title %}Lista de Comics{% endblock %}

{% block content %}
    <h1>Lista de Comics</h1>
    <!-- Buscar comics -->
    <form method="GET" action="{% url 'comic_list' %}">
        <input type="text" name="q" placeholder="Buscar comics">
        <button type="submit">Buscar</button>
    </form>

    {% if request.GET.q %}
        <p>{{ comics|length }} resultados para "{{ request.GET.q }}"</p>
    {% endif %}

    <ul>
        {% for comic in comics %}
            <li>
                <a href="{% url 'comic_detail' pk=comic.pk %}">{{ comic.title }}</a>
                - Año de lanzamiento: {{ comic.release_year }}
                <a href="{% url 'comic_update' pk=comic.pk %}">Editar</a>
                <a href="{% url 'comic_delete' pk=comic.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No se encontraron comics que coincidan con la búsqueda.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'comic_create' %}" class="btn btn-dark" style="margin-bottom: 20px">Crear nuevo comic</a>
{% endblock %}